<a href="https://colab.research.google.com/github/rishabhjainvit/Data_Analyst_Python/blob/main/Rishabh.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=10

In [ ]:
a='q'

In [ ]:
type(a)

int

In [ ]:
int()

0

In [ ]:
print("Rishabh")

Rishabh

In [ ]:
age=32
print("My age is :",age)

My age is : 32

In [ ]:
print(f"My age is: {age}")

My age is: 32

In [ ]:
name="Rishabh"
age=20
print("My name is {} and My age is {}".format(name,age))

My name is Rishabh and My age is 20

In [ ]:
print("My name is {firstname} and My age is {firstage}".format(firstname = name,firstage = age))

My name is Rishabh and My age is 20

In [ ]:
name="Rishaabh"
age=20
degree="Btech"
print("My age is {firstage} and i have completed my degree : {firstdegree} at the name of {firstname}".format(firstage = age, firstdegree = degree , firstname = name))

My age is 20 and i have completed my degree : Btech at the name of Rishaabh

## Control Flow
## Decesion Making
## 1 if
## 2 if else
## 3 if elif else
## 4 Nested if
## 5 Single statement suits

In [ ]:
age = 18
if age >= 18:
  print("eligible")

eligible

In [ ]:
age = 18
if age < 17:
  print("Not eligible")

In [ ]:
input()

Rishabh

'Rishabh'

In [ ]:
age = 18
if age < 17:
  print("Not eligible")

In [ ]:
name=input("enter the name ")

enter the nameRishabh

In [ ]:
age=int(input("Enter the age"))

Enter the age20

In [ ]:
type(age)

int

In [ ]:
age = int(input("Enter the age"))
if age>=18 & age<=45:
  print("you are young enough")

Enter the age22
you are young enough

In [ ]:
age = int(input("Enter the age"))
if age>=18 and age<=45:
  print("you are young enough")

Enter the age50

In [ ]:
age = int(input("Enter the age"))
if age>=18 and age<=45:
  print("you are young enough")

Enter the age22
you are young enough

In [ ]:
22<=42

True

In [ ]:
22>=39

False

In [ ]:
age = int(input("Enter the age"))
if age>=18 and age<=45:
  print("you are young enough")
else:
  print("you are old")

Enter the age50
you are old

In [ ]:
product_price=int(input("Enter the price of product :"))
if product_price > 1000:
  print("The price of the product is:{}".format(product_price-(product_price*0.2)))
else:
  print("The product price is : {}".format(product_price-(product_price*0.3)))

Enter the price of product :1200
The price of the product is:960.0

In [ ]:
product_price=int(input("Enter the price of the product"))
if product_price > 3000:
  print("The price of the product is: {}".format(product_price-(product_price*0.2)))
elif product_price >= 2000 and product_price<=3000:
  if product_price == 2999:
    print("Congrats you haave buy fresh item")
  print("The price of the product is: {}".format(product_price-(product_price*0.3)))
elif product_price >=100 and product_price <= 1500:
    print("The price of the product is: {}".format(product_price-(product_price*0.25)))
else:
    print("The price of the product is: {}".format(product_price-(product_price*0.4)))
    print("I will also be there for purchase")

Enter the price of the product1
The price of the product is: 0.6
I will also be there for purchase

In [ ]:
val=int(input("Enter the value of product"))
if val <= 999 : print("The vlue is less than 999")
else:
  print("no need to entertain")

Enter the value of product1200
no need to entertain

## Loops Sttement

In [ ]:
joining_age=25
while joining_age <= 60:
  joining_age = joining_age+1
  print(joining_age)
else:
  print("Its time for retirement")

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
Its time for retirement

In [ ]:
total_amount = 1000
while total_amount != 0:
  print(total_amount)
  total_amount = total_amount - 100
  # print(total_amount)
else:
  print("Give more money to the bank")

1000
900
800
700
600
500
400
300
200
100
Give more money to the bank

For Loop

In [ ]:
lst=["Rishabh",!,2,"Jain"]

SyntaxError: invalid syntax (<ipython-input-1-7bf2f2979452>, line 1)

In [ ]:
type(lst)

NameError: name 'lst' is not defined

In [ ]:
lst=["Rishabh","Jain"]

In [ ]:
type(lst)

list

In [ ]:
lst[0]

'Rishabh'

In [ ]:
lst

['Rishabh', 'Jain']

In [ ]:
for x in list:
  print(x)

TypeError: 'type' object is not iterable

In [ ]:
for x in lst:
  print(x)

Rishabh
Jain

In [ ]:
fruit_list=["Rishabh","Jain","VIT","Delhi"]
for x in fruit_list:
  print(x)
  if x=="Bhopalk":
    print("the locaton is delhi")

Rishabh
Jain
VIT
Delhi

In [ ]:
fruit_list=["Rishabh","Jain","VIT","Delhi"]

In [ ]:
for x in fruit_list:
  print(x)
  if x=="Delhi":
    print("the locaton is delhi")

Rishabh
Jain
VIT
Delhi
the locaton is delhi

In [ ]:
for x in fruit_list:
  print(x)
  if x=="Delhi":
    print("the locaton is delhi")
    break

Rishabh
Jain
VIT
Delhi
the locaton is delhi

In [ ]:
fruit='Rishabh'
for x in fruit:
  print(x)

R
i
s
h
a
b
h

In [ ]:
fruit[3]

'h'

In [ ]:
fruit='Rishabh'
for x in fruit:
  print(x,end="")

Rishabh

Nested Lopps

In [ ]:
for i in range(1,10)

SyntaxError: expected ':' (<ipython-input-17-ce98f891a02f>, line 1)

In [ ]:
for i in range(1.10):
  print(i)

TypeError: 'float' object cannot be interpreted as an integer

In [ ]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [ ]:
n = 7
for i in range(0, n):
    for j in range(0, i+1):
        print("*", end="")
    print("\r")

*
**
***
****
*****
******
*******

In [ ]:
n=7
for i in range(1, n + 1):

        for j in range(n - i):
            print(" ", end="")
        for k in range(1, 2*i):
            print("*", end="")
        print()

      *
     ***
    *****
   *******
  *********
 ***********
*************

In [ ]:
name=["Rishabh","Jain","Bhopal"]

In [ ]:
for i in name:
  if i=="Bhopal":
    print("the city is bhopl")
  print(i)

Rishabh
Jain
the city is bhopl
Bhopal

In [ ]:
for i in name:
  if i=="Bhopal":
    print("the city is bhopl")
    break
  print(i)

Rishabh
Jain
the city is bhopl

In [ ]:
for i in name:
  if i=="Bhopal":
    print("the city is bhopl")
    continue
  print(i)

Rishabh
Jain
the city is bhopl

In [ ]:
for i in name:
  if i=="Bhopal":
    print("the city is bhopl")
    continue

  print(i)

Rishabh
Jain
the city is bhopl

Logical Operator
1. And
2. or
3. not

In [ ]:
true and true

NameError: name 'true' is not defined

In [ ]:
  True and True

True

In [ ]:
True or Faalse

True

In [ ]:
True or False

True

In [ ]:
START = True
STOP = False

print(f"Defined the value of START = {START}")
print(f"Defined the value of STOP={STOP}\n")

print(f"Defined the value of START = {START}")
print(f"Value of STOP negating START={not START}\n")

print(f"Value of START negating STOP={not STOP}\n")
print(f"Defined the value of STOP={STOP}\n")

Defined the value of START = True
Defined the value of STOP=False

Defined the value of START = True
Value of STOP negating START=False

Value of START negating STOP=True

Defined the value of STOP=False

In [ ]:
not (True)

False

In [ ]:
not bool(0)

True

In [ ]:
int (bool(0))

0

In [ ]:
not int(bool(1))

False

In [ ]:
 not 0

True

In [ ]:
not 1

False

In [ ]:
int (not 0)

1

In [ ]:
int (not 1)

0

In [ ]:
int (not 2)

0

In [ ]:
int (not 3)

0

In [ ]:
not 2

False

In [ ]:
not 0

True

In [ ]:
not -1

False

In [ ]:
START = 1
STOP = 0

print(f"Defined the value of START = {START}")
print(f"Defined the value of STOP={STOP}\n")

print(f"Defined the value of START = {START}")
print(f"Value of STOP negating START={not START}\n")

print(f"Value of START negating STOP={not STOP}\n")
print(f"Defined the value of STOP={STOP}\n")

Defined the value of START = 1
Defined the value of STOP=0

Defined the value of START = 1
Value of STOP negating START=False

Value of START negating STOP=True

Defined the value of STOP=0

In [ ]:
zero = 0
one = 1

print(f"boolean value of no.{zero} is {bool(zero)}")
print(f"boolean value of no.{one} is {bool(one)}")
print(f"negation of {zero} aand negation of {one} is {not one}")
print("\n----------------#\n")

boolean value of no.0 is False
boolean value of no.1 is True
negation of 0 aand negation of 1 is False

----------------#

In [ ]:
n_int = -5
p_int = 5

print(f"boolean value of no .{n_int} is {bool(p_int)}")
print(f"boolean value of no .{p_int} is {bool(n_int)}")
print(f"boolean value of no.{n_int} is {not n_int} \
and negation of {p_int} is {not p_int}")

boolean value of no .-5 is True
boolean value of no .5 is True
boolean value of no.-5 is False and negation of 5 is False

In [ ]:
n_int = -5.99
p_int = 5.12

print(f"boolean value of no .{n_int} is {bool(p_int)}")
print(f"boolean value of no .{p_int} is {bool(n_int)}")
print(f"boolean value of no.{n_int} is {not n_int} \
and negation of {p_int} is {not p_int}")

boolean value of no .-5.99 is True
boolean value of no .5.12 is True
boolean value of no.-5.99 is False and negation of 5.12 is False

Logical AND

In [ ]:
VEGETABLE = True
SALT = False
DISH = VEGETABLE and SALT

print(f"Dish Contains is:{VEGETABLE}")
print(f"Dish contain is:{SALT}")
print(f"Dis made from two VEGETABLE and SALT is : {DISH}\n")

Dish Contains is:True
Dish contain is:False
Dis made from two VEGETABLE and SALT is : False

In [ ]:
False*True

0

In [ ]:
(not False)*True

1

In [ ]:
False * (not(False))

0

In [ ]:
True * False

0

In [ ]:
(not True) * False

0

In [ ]:
(not True) * (not False)

0

In [ ]:
1+2*3

7

In [ ]:
(1+2)*3

9

In [ ]:
not False * False == True

True

In [ ]:
a = 10
b = 5

if a > 5 or b > 5:
    print("At least one condition is True")
else:
    print("Both conditions are False")

At least one condition is True

In [ ]:
x = False
y = True

if x or y:
    print("Either x or y is True")
else:
    print("Both x and y are False")

Either x or y is True

In [ ]:
num1 = 0
num2 = 20

result = num1 or num2
print(f"Result is: {result}")

Result is: 20

Logical NOT

In [ ]:
a = True

if not a:
    print("a is False")
else:
    print("a is True")

a is True

In [ ]:
age = 18

if not age < 18:
    print("You are an adult")
else:
    print("You are a minor")

You are an adult

In [ ]:
text = ""

if not text:
    print("The string is empty")
else:
    print("The string is not empty")

The string is empty

Function

In [ ]:
def greet(name):
    return f"Hello, {name}!"

print(greet("Rishabh"))

Hello, Rishabh!

In [ ]:
my_list = [1, 2, 3, 4]
print(my_list[2])
#List

3

In [ ]:
my_tuple = (1, 2, 3)
print(my_tuple[1])

#Tuple

2

In [ ]:
my_set = {1, 2, 3, 3}
print(my_set)

#Set

{1, 2, 3}

In [ ]:
my_dict = {"name": "Rishabh", "age": 22}
print(my_dict["name"])

#Dictoniery

Rishabh

In [ ]:
numbers = [1, 2, 3, 4]
squares = [n**2 for n in numbers]
print(squares)

[1, 4, 9, 16]

OOPS Concept

Claases in Python

In [ ]:
class Dog:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def bark(self):
        return f"{self.name} is barking!"


dog1 = Dog("Buddy", 3)
print(dog1.bark())

Buddy is barking!

In [ ]:
class Car:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model

    def description(self):
        return f"Car: {self.brand} {self.model}"

car1 = Car("Toyota", "Corolla")
print(car1.description())

Car: Toyota Corolla

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def greet(self):
        return f"Hello, my name is {self.name} and I am {self.age} years old."

person1 = Person("Rishabh", 22)
print(person1.greet())

Hello, my name is Rishabh and I am 22 years old.

Objects in Python

In [ ]:
class Laptop:
    def __init__(self, brand, price):
        self.brand = brand
        self.price = price

laptop1 = Laptop("Dell", 50000)
print(laptop1.brand, laptop1.price)

Dell 50000

In [ ]:
class Book:
    def __init__(self, title, author):
        self.title = title
        self.author = author

book1 = Book("1984", "George Orwell")
print(f"Book: {book1.title} by {book1.author}")

Book: 1984 by George Orwell

In [ ]:
class Phone:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model

phone1 = Phone("Apple", "iPhone 12")
print(f"Phone: {phone1.brand} {phone1.model}")

Phone: Apple iPhone 12

Polymorphisim in python

In [ ]:
class Bird:
    def sound(self):
        return "Chirp!"

class Dog:
    def sound(self):
        return "Bark!"

def make_sound(animal):
    print(animal.sound())

bird = Bird()
dog = Dog()
make_sound(bird)
make_sound(dog)

Chirp!
Bark!

In [ ]:
class Car:
    def model(self):
        return "Defender!"

class Brand:
    def model(self):
        return "Range Rover!"

def make_model(drive):
    print(drive.model())

car = Car()
brand = Brand()

make_model(car)
make_model(brand)

Defender!
Range Rover!

Polymorphisim with inheritance

In [ ]:
class Shape:
    def area(self):
        pass

class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return 3.14 * self.radius * self.radius

class Rectangle(Shape):
    def __init__(self, width, height):
        self.width = width
        self.height = height

    def area(self):
        return self.width * self.height

circle = Circle(5)
rectangle = Rectangle(4, 5)

print(circle.area())
print(rectangle.area())

78.5
20

Polymorphisim with function

In [ ]:
class Cat:
    def sound(self):
        return "Meow"

class Cow:
    def sound(self):
        return "Moo"

animals = [Cat(), Cow()]

for animal in animals:
    print(animal.sound())

Meow
Moo

Encapsulation in python

In [ ]:
#Using Private Attributes
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.__salary = salary

    def get_salary(self):
        return self.__salary

emp1 = Employee("John", 50000)
print(emp1.get_salary())

50000

In [ ]:
#Using Private Methods

class Robot:
    def __init__(self):
        self.__code = "12345"

    def __start(self):
        print("Robot started.")

    def public_start(self):
        self.__start()

robot1 = Robot()
robot1.public_start()

Robot started.